/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

/* Formulário  */
.formbold-main-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  /* padding: 48px; */
  background-color: #88acc8;
  border-radius: 10px;
  flex-wrap: wrap;
}

.formbold-form-wrapper {
  flex:1;
  margin:20px 20px 20px 20px;
  max-width: 500px;
  width: 100%;
  background: white;
  padding: 40px;
  border-radius: 10px;
}

.formbold-form-img {
  margin-bottom: 45px;
}

.formbold-input-group {
  margin-bottom: 18px;
}

.formbold-form-select {
  width: 100%;
  padding: 12px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-size: 16px;
  color: #000000;
  outline: none;
  resize: none;
  font-weight: 400;
}

.formbold-input-radio-wrapper {
  margin-bottom: 25px;
}
.formbold-radio-flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.formbold-radio-label {
  font-size: 14px;
  line-height: 24px;
  color: #07074d;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.formbold-input-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.formbold-radio-checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #dde3ec;
  border-radius: 50%;
}
.formbold-radio-label
  .formbold-input-radio:checked
  ~ .formbold-radio-checkmark {
  background-color: #1462a1;
}
.formbold-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.formbold-radio-label
  .formbold-input-radio:checked
  ~ .formbold-radio-checkmark:after {
  display: block;
}

.formbold-radio-label .formbold-radio-checkmark:after {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-size: 16px;
  color: #07074d;
  outline: none;
  resize: none;
}
.formbold-form-input::placeholder {
  color: #536387;
}
.formbold-form-input:focus {
  border-color: #1462a1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #07074d;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #1462a1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

/* Navbar */
.logo {
  width: 100%;
  height: 100%;
}
.navbar-brand {
  width: 15%;
  height: 15%;
}

.navbar-nav{
  font-weight: 700;
}

.navbar-nav .logout {
  margin-left: auto;
}

/* Mensagens de sucesso */

.msg{
  background-color: #D4EDDA;
  color:#155724;
  border: 1px solid #C3E6CB;
  width:100%;
  margin-bottom:0;
  text-align: center;
  padding: 10px;
}


/* Dashboard */
.dashboard-title-container h2 {
  font-weight: 800;
  text-decoration: none;
  color: #000000;
}

.dashboard-title-container a:hover{
  text-decoration: none;
}

.table {
  width: 100%;
  max-width: 600px;
  background-color: transparent;
}

.table td {
  max-height: 100px; 
  line-height: 25px;
  overflow: hidden; 
  text-overflow: ellipsis; 
}


.table td, .table th{
  vertical-align: inherit !important;
}

.bg-inprogress{
  background-color: #f7f44c;
  font-weight:500;
}
.bg-completed{
  background-color:#a0ddae ;
  font-weight:500;
}
.bg-late{
  background-color: #f56876;
  font-weight:500;
}


/* Pagina de visualização */

h4{
  font-size:1.2rem !important;
  font-weight: 500 !important;
  margin-top: .5rem !important;
} 

.info-container{
  text-align: justify;
  line-height: 2rem;
  border-radius: 10px;
  border-color: #034a82 !important;
  word-wrap:break-word;
  background-color:#1b5f96 ;
  color: #ffffff;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0.5px #000000;
}

.btn{
  box-shadow: 1px 1px 1px rgb(161, 160, 160);
}

.title-container{
  text-align: center;
  line-height: 2rem;
  border-radius: 10px;
  border-color: #034a82;
  background-color:#1b5f96 ;
  color: #ffffff;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 0.5px #000000;
  padding: auto;
}

/* Chat */

.chat-box {
padding-left: 20px;
overflow-y: scroll;
flex: 1;
}

.chat-r {
display: flex;
}
.chat-r .sp {
flex: 1;
}

.chat-l {
display: flex;
}
.chat-l .sp {
flex: 1;
}

.chat-box .mess {
max-width: 300px;
background: #F7FCF6;
padding: 10px;
border-radius: 10px;
margin: 20px 0px;
cursor: pointer;
}
.chat-box .mess p {
word-break: break-all;
font-size: 18px;
margin-bottom: 0px;
}
.chat-box .mess-r {
  background: #E2FFC7;
}

*::-webkit-scrollbar {
width: 5px;
}
*::-webkit-scrollbar-track {
background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
background: #aaa;
}
*::-webkit-scrollbar-thumb:hover {
background: #555;
}

.chat-footer {
display: flex;
justify-content: center;
align-items: center;
border-radius: 60px;
position: relative;
cursor: pointer;
margin-left:10px;
margin-right:10px;
}
.hidden{
  display:none;
}